*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: #fafafa;
    font-size: 11px;
    margin: 0.5rem 2rem 0;
}

a:hover{
    text-decoration: none;
}

h1{
    text-align: center;
}

h3{
    display: inline;
}

i{
    font-size: 4rem;
    padding-right: 5px;
}

p{
    font-weight: bold;
    padding: 1rem;
}

td{
    font-weight: bold;
}

.nav{
    background-color: #053742;
    color: #FAFAFA;
}

.nav-links{
    padding: 2rem;
}

.nav-links span{
    text-align: right;
    margin: 1rem;
}

.nav-link{
    color: #fafafa;
    font-size: 16px;
    margin: 0.5rem 2rem 0;
    text-decoration: none;
}

.nav-link:hover{
    color: #fafafa;
    text-decoration: underline;
}

.footer-links{
    color: #fafafa;
    font-size: 11px;
    margin: 0.5rem 2rem 0;
}

.footer-links:hover{
    text-decoration: none;
}

.title{
    animation-duration: 3s;
    animation-name: dropdown;
    padding-top: 8rem;
}



@keyframes dropdown{
    from{
        padding-top: 0;
    }

    to{
        padding-top: 8rem;
    }
}

.intro-div{
    width: 100%;
    padding-bottom: 5rem;
    left: 0;
    top: 0;
    background: #D83A56;
    color: #fafafa;
}

.intro-p {
    font-size: 20px;
    padding: 0 5rem 5rem;
    margin-bottom: 5rem;
}

.intro-desc {
    background: #D83A56;
    color: #fafafa;
}

.desc-p{
    padding: 5rem;
    font-size: 20px;
}

.flex-container {
    display: flex;
    padding: 1rem;
    text-align: center;
}

.total-container {
    text-align: center;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.data-display{
    display: inline-block;
}

.data-title{
    text-align: center;
}

.fa-leaf{
    color: #00917C;
}

.fa-shopping-bag{
    color: #726A95;
}

.fa-dragon{
    color: #C15050;
}

.fa-hand-holding-heart{
    color: #FFC85C;
}

.fa-drum-steelpan{
    color: #10316B;
}

.fa-wrench{
    color: #FD5F00;
}

.total-container{
    padding-top: 5rem;
}

#totalChart{
    max-height: 30rem;
}

.ranking-section{
    color: #fafafa;
    background-color: #39A2DB;
    padding: 2rem;
}

.top-count-img {
    margin-top: 3rem;
    width: 10rem;
    transition: all 0.5s ease;
}

.top-count-img:hover {
    cursor: pointer;
    width: 10.5rem;
}

.pokemon-rank {
    display: none;
}

.data-display img{
    margin-bottom: 2rem;
}

.set-title{
    padding: 5rem 0 0;
}

.set-rank-container{
    margin: 5rem auto;
    text-align: center;
}

.column{
    float: left;
    width: 33%;
    margin-bottom: 2rem;
    font-size: 20px;
}

.row{
    margin: 0 auto;
    text-align: center;
}

.row:after {
  display: table;
}

.footer{
    background-color: #053742;
    color: #FAFAFA;
    text-align: center;
    padding: 2rem;
}

.copyright{
    padding-bottom: 1rem;
}

.footer h6{
    font-size: 12px;
}


@media (max-width: 700px) {
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav-links span{
        text-align: center;
        display: block;
        flex-direction: column;
    }
    .desc-p{
       padding: 3rem;
       font-size: 14px;
    }

    .intro-p{
       padding: 3rem;
       font-size: 14px;
    }

    .flex-container{
        flex-direction: column;
    }

    .flex-child{
        margin-top: 2rem;
    }

    .column strong{
        font-size: 14px;
    }

    .set-rank-container{
        margin: 1rem;
        padding: 1rem;
    }

}