
<div class="flex-container">
    <div class="flex-child">
        <i class="fas fa-leaf"></i>
        <h3>Energy</h3>
        <div>
            <canvas id="energyChart"></canvas>
        </div>
    </div>
    <div class="flex-child">
                <i class="fas fa-shopping-bag"></i>
                <h3>Item</h3>
        <div>
            <canvas id="itemChart"></canvas>
        </div>
    </div>
</div>


<div class="flex-container">
    <div class="flex-child">
        <i class="fas fa-dragon"></i>
        <h3>Pokemon</h3>
        <div>
            <canvas id="pokemonChart"></canvas>
        </div>
    </div>
    <div class="flex-child">
                <i class="fas fa-hand-holding-heart"></i>
                <h3>Support</h3>
        <div>
            <canvas id="supportChart"></canvas>
        </div>
    </div>
</div>

<div class="flex-container">
    <div class="flex-child">
        <i class="fas fa-drum-steelpan"></i>
        <h3>Stadium</h3>
        <div>
            <canvas id="stadiumChart"></canvas>
        </div>
    </div>
    <div class="flex-child">
        <i class="fas fa-wrench"></i>
        <h3>Tools</h3>
        <div>
            <canvas id="toolChart"></canvas>
        </div>
    </div>
</div>

<div class="total-container">
    <h1>Total Card Summary by Card Type</h1>
    <div>
        <canvas id="totalChart"></canvas>
    </div>

</div>


